.hero-section {
    position: relative;
    .myCarousel {
        img {
            object-fit: cover;
            height: 773px;
        }
        .h5Container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
        }
        .h5Container h5 {
            font-size: 3.5rem;
            color: white;
            background-color: rgba(0,0,0,0.6);
            padding: 1rem;
            border-radius: 10px;
            text-align: center;
        }
    }
}